figure, figcaption {
	display: block;
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}

.timeTo {
	/*font-family: Tahoma, Verdana, Aial, sans-serif;*/
	/*font-size: 28px;
	font-weight: bold;*/
    font-family: 'Inter UI';
    font-size: inherit;
}

.timeTo span {
    vertical-align: top;
    line-height: 32px;
    padding: 0 3px;
}

.timeTo.timeTo-white div {
	color: #D63242;
    /*font-size: 20px;*/
    font-weight: 400;
    background: #ffffff; /* Old browsers */
    border:1px solid #E9E9F8;
    border-radius: 6px;
    width: 30px !important;
    height: 36px !important;
    margin:0 1px;
    
}

.timeTo ul li {

}

.timeTo.timeTo-black .timeTo-alert {
    background: #a74444; /* Old browsers */
    background: -moz-linear-gradient(top, #a74444 0%, #3f0000 67%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a74444), color-stop(67%,#3f0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a74444 0%,#3f0000 67%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a74444 0%,#3f0000 67%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a74444 0%,#3f0000 67%); /* IE10+ */
    background: linear-gradient(to bottom, #a74444 0%,#3f0000 67%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74444', endColorstr='#3f0000',GradientType=0 ); /* IE6-9 */
}

.timeTo.timeTo-white .timeTo-alert {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 35%, #e17373 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#ffffff), color-stop(100%,#e17373)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 35%,#e17373 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 35%,#e17373 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 35%,#e17373 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 35%,#e17373 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e17373',GradientType=0 ); /* IE6-9 */
}

.timeTo figure {
	display: inline-block;
	margin: 0;
	padding: 0;
    max-width: 100% !important;
    position: relative;
}
.timeTo figure:before {
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    top: 17px;
    z-index: 1;
}
.timeTo figcaption {
	text-align: center;
	line-height: 80%;
	font-weight: 600;
    letter-spacing: 0.8px;
    font-family: 'Inter UI';
	color: #252931;
    text-transform: uppercase;
    opacity: 0.4;
}

.timeTo div {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 30px;
	
	overflow: hidden;
}


.timeTo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 3px;
    margin-left: -2px;
    width: 100%;
    z-index: 1;
}

.timeTo ul li {
    /*margin: -5px 0 0 0;*/
    padding: 0;
    list-style: none;
    /*line-height: 21px;*/
    height: 26px;
}